@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
 background-color: #333131;
 height: 100vh;
}

.wheel{
  background-color: #C2AB56;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  margin:auto;
  margin-top: 217px;
  
}

.wheel-inside{
  background-color: #333131;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  display:flex;
  
}

.clock{
width:100%;
height:100%;
margin-top: 72px;
margin-left: 35px;
font-size: 60px;
font-family: 'Roboto', sans-serif;
color: #C2AB56;
}

.buttons{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
height: 300px;

&__start{
  @include button; 
 
}

&__pause{
  @include button;
  z-index: 3;
  display: none;
}

&__continue{
  @include button; 
  z-index: 3;
  display: none;
}

&__reset{
  @include button;
  z-index: 4;
  margin-top: 30px;
  display:none;
}





}

.display-pauze{
  display: inline-block;
}

.hide-button{
  display: none;
}